body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Chakra Petch', sans-serif;
    letter-spacing: 1px;
}

.container {
    display: flex;
    gap: 15px;
    align-items: flex-end;
    padding: 15px;
    background: #7C94AC;
    border-top: 2px solid #4C647C;
    border-left: 2px solid #4C647C;
    border-right: 2px solid #BCCCD4;
    border-bottom: 2px solid #BCCCD4;
}

.panel-body {
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255 ,255, 255, 0.4), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
    padding: 15px;
    background: #7C94AC;
}

.keypad-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.clear {
    grid-column: span 2;
}

.guess {
    grid-column: span 3;
}

.keypad-container button {
    padding: 15px 20px;
    letter-spacing: 2px;
    background-color: #7C94AC;
    box-shadow: inset 0.1em 0.1em 0.1em 0 rgba(255 ,255, 255, 0.4), inset -0.1em -0.1em 0.1em 0 rgba(0,0,0,0.5);
    border: none;
    cursor: pointer;
    font-family: 'Chakra Petch', sans-serif;
}

.information-board {
    width: 300px;
    border: 1px solid gray;
    height: 270px;
    border-radius: 2px;
    overflow: auto;
    background: #7EF7FC;
    border-top: 2px solid #4C647C;
    border-left: 2px solid #4C647C;
    border-right: 2px solid #BCCCD4;
    border-bottom: 2px solid #BCCCD4;
}

.guess-input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    border: 1px solid gray;
    margin: 10px 0;
    padding-right: 10px;
    border-radius: 2px;
    width: -webkit-fill-available !important;
    text-align: right;
    letter-spacing: 4px;
    outline: none;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    border-top: 2px solid #4C647C;
    border-left: 2px solid #4C647C;
    border-right: 2px solid #BCCCD4;
    border-bottom: 2px solid #BCCCD4;
}

.guess-input:first-child {
    background: #7EF7FC;
}

.labels {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    height: 41px;
}

.answer-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px;
    margin: 5px;
    gap: 40px;
}

.answer-container:first-child {
    background: #4C647C;
    color: #FCFCFC
}

.guess-container {
    flex-basis: 40%;
}

.bull-container {
    flex-basis: 30%;
}

.cow-container {
    flex-basis: 30%;
}

.error {
    color: red;
    font-size: 12px;
    letter-spacing: 1px;
}
